<div
        fxLayout="column"
        fxLayoutAlign="center center"
        fxLayoutGap="10px">
    <form
            bind-formGroup="myFabricatorFormGroup"
            on-ngSubmit="myOnSubmit()"
            fxLayout="column"
            fxLayoutGap="20px"
            fxFlex="400px"
    >
        <!-- fxFlex="400px" << Just to get it to be a MINIMUM WIDTH. O la.

        https://github.com/angular/flex-layout/wiki/Declarative-API-Overview#api-for-any-element
        -->
        <mat-form-field>
            <mat-label>myStudentIncrementerCounter label</mat-label>
            <input
                    formControlName="myFabricatorFormControlStudentIncrementerCounterName"
                    matInput
                    type="number"
                    [errorStateMatcher]="myOwnErrorStateMatcher"
            >
            <mat-hint>Enter base number (e.g. 1), OR, the NEXT number from your previous batch to continue with this same group (e.g. 26...)
            </mat-hint>
<!-- Troppo Grande! tsk, tsk (needed fxLayoutGap="70px") o la!
            <mat-hint>
                <p>Enter base number (e.g. 1)</p>
                <p>OR,</p>
                <p>the NEXT number from your previous batch to continue with this same group (e.g. 26...)</p>
            </mat-hint>
-->
            <mat-error>myStudentIncrementerCounter error: Must be greater than 0</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>myNumberOfRows label</mat-label>
            <input
                    formControlName="myFabricatorFormControlNumberOfRowsName"
                    matInput
                    type="number"
                    [errorStateMatcher]="myOwnErrorStateMatcher"
            >
            <mat-hint>myNumberOfRows hint</mat-hint>
            <mat-error>myNumberOfRows error: Must be greater than 0</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>myGroup label</mat-label>
            <input
                    formControlName="myFabricatorFormControlGroupName"
                    matInput
                    placeholder="alpha-numeric accepted"
                    type="text"
                    [errorStateMatcher]="myOwnErrorStateMatcher"
            >
            <mat-hint>myGroup hint</mat-hint>
            <mat-error>myGroup error (note: hyphen not allowed; use period as separator instead)</mat-error>
        </mat-form-field>
<!-- Will be the "static suggested-but-editable ones"
mySeparator = '-'
const myPrefix = 'student'
const mySuffix = '@hbsp.harvard.edu'

        <mat-form-field>
            <mat-label>label</mat-label>
            <input
                    formControlName=""
                    matInput
                    placeholder=""
                    type="text"
            >
            <mat-hint>hint</mat-hint>
            <mat-error>error</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>label</mat-label>
            <input
                    formControlName=""
                    matInput
                    placeholder=""
                    type="text"
            >
            <mat-hint>hint</mat-hint>
            <mat-error>error</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>label</mat-label>
            <input
                    formControlName=""
                    matInput
                    placeholder=""
                    type="text"
            >
            <mat-hint>hint</mat-hint>
            <mat-error>error</mat-error>
        </mat-form-field>
-->
        <button
                mat-raised-button
                type="submit"
                bind-disabled="!myFabricatorFormGroup.valid"
        >
            Make Me {{
            ( myFabricatorFormControlNumberOfRows.value )
            > 0 ?
                ( myFabricatorFormControlNumberOfRows.value )
                : 'Some'
            }} Addresses!
<!-- Oops! Wrong logic below. "Overthinking it."
- To get the "number of e-mail addresses to create,"
you do *not* subtract Counter Base #, (be that 0 or anything else, like say 40), from the Number of Rows desired (like say 25). No.
- You just use the NumberOfRows figure! (easy-peasy)

            Make Me {{
            ( myFabricatorFormControlNumberOfRows.value - myFabricatorFormControlStudentIncrementerCounter.value )
            > 0 ?
                ( myFabricatorFormControlNumberOfRows.value - myFabricatorFormControlStudentIncrementerCounter.value )
                : 'Some'
            }} Addresses!
-->
        </button>
        <p
        *ngIf="myFabricatorFormControlStudentIncrementerCounter.value > 0"
        >Creating {{ myFabricatorFormControlNumberOfRows.value }} addresses, from {{ myFabricatorFormControlStudentIncrementerCounter.value }} to {{ ( myFabricatorFormControlStudentIncrementerCounter.value - 1 ) + myFabricatorFormControlNumberOfRows.value }} inclusive. Cheers.</p>
    </form>
    <mat-card
            fxLayout="column"
            fxLayoutAlign="center center"
    >
        <mat-card-header>
            <mat-card-title>
                User Profiles
            </mat-card-title>
            <mat-card-subtitle>
                Parsed from JSON
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content
        fxLayout="column"
        fxLayoutAlign="center center">
            <p matLine>matLine Pending Educator Authorizations</p>
            <p mat-line>mat-line Username, E-Mail, Etc.</p>
            <p class="matLine">class="matLine" << only one that gets class="matLine", but, seems to be same as class="mat-line" anyway. a nothing-burger, people</p>
            <p class="mat-line">class="mat-line" Username, E-Mail, Etc.</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button
            type="button"
                    on-click="myParseOutEmails()"
            >
                Display E-Mail Addresses
            </button>
        </mat-card-actions>
    </mat-card>

    <!--
    myColumnsToDisplay = ['username', 'email', 'institutionName'];

    can also do <mat-table></mat-table> fwiw

    Nah did NOT hide empty table: *ngIf="myEducatorsDataSource.data"
    Yah did do the job: *ngIf="showTableDataIsHere"
    -->
<!--    <ng-container *ngIf="showTableDataIsHere">-->
    <mat-table
            [dataSource]="myEducatorsDataSource"
            matSort >
        <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef
            mat-sort-header>Username</th>
            <td mat-cell *matCellDef="let educator">{{ educator.username }}</td>
        </ng-container>
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef
                mat-sort-header>E-Mail</th>
            <td mat-cell *matCellDef="let educator">{{ educator.email }}</td>
        </ng-container>
        <ng-container matColumnDef="institutionName">
            <th mat-header-cell *matHeaderCellDef
                mat-sort-header>Institution Name</th>
            <td mat-cell *matCellDef="let educator">{{ educator.institutionName }}</td>
        </ng-container>
        <!-- Q. Hmm, need that <tr>? A. Seems Yes. (Whereas in fitness-tracker-wr3 past-trainings HTML it did not. hmm o well)
        Did NOT work: <mat-header-row></mat-header-row> fwiw etc -->
        <tr mat-header-row *matHeaderRowDef="myColumnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: myColumnsToDisplay"></tr>
    </mat-table>
<!-- FAILS    *ngIf="showTableDataIsHere"
If you put this "hide/show" separately here on both mat-table (above)
and mat-paginator (here below), then they do both get hidden (good),
BUT - when rendered, the paginator is apparently DISCONNECTED from the table.
(Not (so) good (at all).)

Fix? Prob a container div for both; put Mr. "hide/show" there.
Hmm. That did NOT work. Paginator disconnected, and no longer centered. Hmmph.

Tried <ng-container>. Still disconnected, but now centered again. O la.
-->
    <mat-paginator
            [pageSize]="5"
            [pageSizeOptions]="[2,5,10,20]"
    >
    </mat-paginator>
<!--    </ng-container>-->
    <mat-list>
        <mat-list-item *ngFor="let educator of educators">
            <h1 matLine><b>{{ educator.username }}</b></h1>
            <p matLine>{{ educator.email }}</p>
            <p matLine>{{ educator.institutionName }}</p>
        </mat-list-item>
    </mat-list>

</div>

