<mat-nav-list role="navigation">
    <a
            mat-list-item
            on-click="myCloseSidenav()"
            routerLink="/"
    >
        <mat-icon>
            face
        </mat-icon>
        <span>Home</span>
    </a>
    <a
            mat-list-item
            on-click="myCloseSidenav()"
            routerLink="/fabricator"
    >
        <mat-icon>
            email
        </mat-icon>
        <span>Create!</span>
    </a>
    <!-- On purpose: Variety
    (below) A <mat-list-item> nesting an <a>,
    rather than (above), an <a> with a mat-list-item
    directive on it. Cheers.
    -->
    <mat-list-item>
        <a
                on-click="myCloseSidenav()"
                routerLink="/nytimes">
            <img src="../../../assets/nytimes-T.png" alt="NY Times" height="25px"> </a>
        <a
                on-click="myCloseSidenav()"
                routerLink="/nytimes"><span>&nbsp; NY Times</span></a>
    </mat-list-item>
    <a
            routerLink="/rxjs-playground"
            mat-list-item
            on-click="myCloseSidenav()"
    >
        <mat-icon>android</mat-icon>
        <span>&nbsp; RxJS</span></a>
</mat-nav-list>

