<mat-nav-list role="navigation">
    <a
            mat-list-item
            routerLink="/">
        <mat-icon>
            face
        </mat-icon>
        <span>Home</span>
    </a>
    <a
            mat-list-item
            routerLink="/fabricator">
        <mat-icon>
            email
        </mat-icon>
        <span>Create!</span>
    </a>
    <mat-list-item>
        <a routerLink="/nytimes">
            <img src="../../../assets/nytimes-T.png" alt="NY Times" height="25px"> </a>
        <a routerLink="/nytimes"><span>&nbsp; NY Times</span></a>
    </mat-list-item>
</mat-nav-list>

