<section>
    <nav mat-tab-nav-bar>
        <a
                mat-tab-link
                routerLink="top-stories">
            Top Stories
        </a>
        <a
                mat-tab-link
                routerLink="book-reviews">
            Book Reviews
        </a>
        <a
                mat-tab-link
                href="https://developer.nytimes.com/apis" target="_blank">NYTimes APIs
            <img src="../../../assets/open-in-new-window-icon-on-white-background.jpg" height="16px" style="padding-left: 5px;">
        </a>
    </nav>
    <router-outlet></router-outlet>
</section>
