<section
        class="my-book-reviews"
        fxLayout="column"
        fxLayoutAlign="center"
        fxLayoutGap="10px"
>
    <p>==============</p>
    <p>PlainBool spinner</p>
    <mat-progress-spinner
            *ngIf="myIsLoadingPlainBool"
            mode="indeterminate"></mat-progress-spinner>
    <hr>
    <p>==============</p>
    <p>ObservableInComponent$ spinner</p>
    <mat-progress-spinner
            *ngIf="myIsLoadingObservableInComponent$.value"
            mode="indeterminate"></mat-progress-spinner>
    <hr>
    <p>==============</p>
    <form
            bind-formGroup="myFormGroup"
            on-ngSubmit="myOnSubmitAuthor()"
            fxLayout="column"
            fxLayoutGap="20px"
            fxFlex="50%"
    >
        <!-- fxFlex="400px" made it also 400px HIGH not so good -->
        <mat-form-field>
            <mat-label>
                Label: Author First Name
            </mat-label>
            <input
                    matInput
                    [errorStateMatcher]="myVeryOwnErrorStateMatcherNotSubmitted"
                    formControlName="myFormControlAuthorFNameName"
                    placeholder="first placeholder..."
                    type="text" />

            <mat-hint>
                (cAse InsenSITIVe)
            </mat-hint>
            <mat-error>
                Author first name is required, min length 2!
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>
                Label: Author Last Name
            </mat-label>
            <input
                    matInput
                    [errorStateMatcher]="myVeryOwnErrorStateMatcherNotSubmitted"
                    formControlName="myFormControlAuthorLNameName"
                    placeholder="last placeholder..."
                    type="text" />

            <mat-hint>
                (cAse InsenSITIVe)
            </mat-hint>
            <mat-error>
                Author last name is required, min length 2!
            </mat-error>
        </mat-form-field>
        <button
                mat-raised-button
                type="submit"
                bind-disabled="!myFormGroup.valid"
        >
            Submit Author
        </button>
        <button
                mat-raised-button
                type="button"
                on-click="myOnSubmitAuthorAnnieDillard('Annie', 'Dillard')"
        >
            Get Annie Dillard EZ-Pass!
        </button>
    </form>
    <div *ngIf="myBookReviewsResults$">
<!-- DID WORK. Till I did the form.reset(), and those 2 .values are lost ...  Ok!
        <p>Author1: {{ myFormControlAuthorFName.value }} {{ myFormControlAuthorLName.value }}</p>
-->
        <!-- Author2 WORKS (also) -->
        <h2 *ngIf="(myBookReviewsResults$ | async)?.results.length > 0">{{ (myBookReviewsResults$ | async)?.results[0].book_author }}</h2>
        <!-- TODONE ! :o)   New TYPE (interface) : MyBookReviewsResultsArray[]
         viz. ".book_author" being unrecognized by TS/WebStorm:
               If/when you provide a better TYPE for the Book Review
                that is in each Object in this Array, you'll get better
                IDE TypeScript support here. -->

        <!-- YES -->
        <p>Results1: {{  (myBookReviewsResults$ | async)?.num_results }}</p>
        <!-- YES 1.A., but not needed -->
<!--
        <p>Results1.A.: {{ myBookReviewsResults$ ? (myBookReviewsResults$ | async)?.num_results : 0}}</p> &lt;!&ndash; 1.A. = Unnecessary '?' check, on this one w. Observable. Cheers &ndash;&gt;
-->
        <!-- YES -->
        <p *ngIf="myBookReviewsResults$ | async as myThing">Results2: {{ myThing?.num_results }}</p>
        <!-- YES -->
        <p>Results3: {{ myBookReviewResultsDataValuesHereInComponent ? myBookReviewResultsDataValuesHereInComponent.num_results : 999 }}</p>
        <!-- YES -->
        <p>Results4: {{ myBookReviewResultsDataValuesHereInComponent?.num_results }}</p>
        <!-- YES -->
        <p *ngIf="myBookReviewResultsDataValuesHereInComponent">Results4.A.: {{ myBookReviewResultsDataValuesHereInComponent.num_results }}</p> <!-- no Elvis operator needed (presumably) -->
<!--    Whoa. It worked. Results: 16
        https://stackoverflow.com/questions/36803389/async-pipe-does-not-fill-object-data-into-template
            "Objects are a bit tricky with the async pipe."
            (see above Results 1, Results 2.
            Results 3 is driven by another approach, from over in the Component .TS)
            -->
<!--  NO:       <p>Results: {{ myBookReviewsResults$.num_results | async }}</p>-->
    </div>
    <div>
        <p>NOT Using Observable | async. Just a component data property</p>
        <ul>
            <li
                    style="padding-bottom: 20px; list-style-type: none;"
                    *ngFor="let uno of myBookReviewsResultsArraySimply">
<!--   above is simply an Array, NOT observable. No use of async here.             | async "-->
                <div class="my-title">
                    {{ uno.book_title}}
                </div>
                <div>{{ uno.byline }}. {{ uno.publication_dt }}</div>
                <div>
                    <a class="my-link-color" href="{{ uno.url }}" target="_blank">
                        {{ uno.url }}
                        <img src="../../../../assets/open-in-new-window-icon-on-white-background.jpg" height="16px" style="padding-left: 5px;">
                    </a>
                </div>
                <!-- TODONE ! :o)  MyBookReviewsResultsArray[]
                 viz. ".book_title" being unrecognized by TS/WebStorm:
                If/when you provide a better TYPE for the Book Review
                 that is in each Object in this Array, you'll get better
                 IDE TypeScript support here. -->

            </li>
        </ul>
    </div>
    <div>
        <p>Using Observable | async</p>
        <ul>
            <li *ngFor="let obsUno of (myBookReviewsResults$ | async)?.results">
                <div>{{ obsUno.book_title}}</div>
            </li>
        </ul>
    </div>
</section>

