// https://grensesnittet.computas.com/dynamic-themes-in-angular-material/
/*
Copied from
$ pwd
/Users/william.reilly/dev/Angular/AngularMaterialDesign/eTallangDynamicThemes/from-scratch/wr-theme-dino
As noted/used in my:
4. /Users/william.reilly/dev/JavaScript/CSCI-E31/Assignments/07-e31-combo-2020/client/src/app/styles/material-theme.scss
3. /Users/william.reilly/dev/JavaScript/CSCI-E31/Assignments/07-test-new-angular/client-mat/src/app/styles/material-theme.scss
2. /Users/william.reilly/dev/Angular/projects/email-fabricator/src/styles/material-theme.scss
1. /Users/william.reilly/dev/Angular/AngularMaterialDesign/eTallangDynamicThemes/from-scratch/wr-theme-dino

 */

@import '~@angular/material/theming'; // /_theming.scss

/* Not Using Here
@import './component-theme';
*/

@include mat-core();

$primary: mat-palette($mat-indigo);
$accent: mat-palette($mat-pink, A200, A100, A400);
$warn: mat-palette($mat-red);

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);
/* Not Using Here
@include component-theme($theme);
*/
/* O la. 2021. Trying to get plain <a href="">link</a> to be VISIBLE in DARK-MODE.
               Default behavior is the a href link is just plain DARK PURPLE when "visited,"
               and bloody INVISIBLE in DARK MODE. Oi!
https://github.com/angular/components/issues/6532
 */
a {
  color: mat-color($accent);
}

// Our dark theme
/* Yellow was Not So Great, when "Amber" is your "accent". sigh.
That is, the app-header toolbar has color="primary" (okay).
For Dark Theme, that was Yellow, but with the <a routerLink> text is Amber. Terrible contrast.

  $dark-primary: mat-palette($mat-yellow);
  $dark-primary: mat-palette($mat-blue-grey); // Yucky. Looked like polluted water.
  $dark-primary: mat-palette($mat-teal); // << Tolerable. Not great. Good enough.
 */
.dark-theme {
  color: $light-primary-text;
  $dark-primary: mat-palette($mat-teal);
  $dark-accent: mat-palette($mat-amber, A400, A100, A700);
  $dark-warn: mat-palette($mat-red);
  $dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

  @include angular-material-theme($dark-theme);
  /* Not Using Here
  @include component-theme($dark-theme);
  */

  // Here's hoping? https://github.com/angular/components/issues/6532  See also above.
  a {
    color: mat-color($dark-accent);
  }

}
