<div
        fxLayout="column"
        fxLayoutAlign="center center"
        fxLayoutGap="10px">
    <p>Parade (pard-basic) works!</p>
    <h2>PARADE</h2>
    <mat-card
            fxLayout="column"
            fxLayoutAlign="center center">
        <mat-card-header>
            <mat-card-title>Parade</mat-card-title>
            <mat-card-subtitle>Basic Authorization</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content
                fxLayout="column"
                fxLayoutAlign="center center"
        >

        </mat-card-content>

    </mat-card>
</div>
