<div
        fxLayout="column"
        fxLayoutAlign="center center"
        fxLayoutGap="10px">
    <p>Parade (pard-basic) works!</p>
    <h2>PARADE</h2>
    <mat-card
            fxLayout="column"
            fxLayoutAlign="center center">
        <mat-card-header>
            <mat-card-title>Parade</mat-card-title>
            <mat-card-subtitle>Basic Authorization</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content
                fxLayout="column"
                fxLayoutAlign="center center"
        >
            <div>
                What happens if I type content inside of mat-card-content?
            </div>


            <div>
                Q.1. What happens if I put a plain old a href link <a href="https://nytimes.com">inside</a> of mat-card-content?
            </div>

            <div>
                Q.2. What happens if I put an Angular routerLink <a routerLink="/hbsp/parade/PARD-3" routerLinkActive="my-active">inside</a> of mat-card-content?
            </div>


            <div>
                A. Both look like HELL in dark-theme mode. Uurrgghh.
            </div>


                <a routerLink="/hbsp/parade/PARD-3"
                   routerLinkActive="my-active"
                >Hard-coded "PARD-3"</a>

            <div>
                <button
                        mat-raised-button
                        on-click="callMyCallTicketPage('PARD-3')"
                >
                    NOPE: FE Call - Get Jira Issue PARD-3
                </button> |
                <button
                        mat-raised-button
                        on-click="callMyCallJiraPROXY('PARD-3')"
                >
                    BE Call - Get Jira Issue PARD-3
                </button> |
                <button
                        mat-raised-button
                        on-click="getFakeAPI($event)"
                >
                    Get Fake API ;o)
                </button>

            </div>

        </mat-card-content>

    </mat-card>
</div>
