<mat-toolbar color="primary">
    <div fxHide.gt-xs>
        <button
                mat-icon-button
                on-click="myToggleMatSidenav()"
        >
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div style="padding: 10px; margin-left: 10px; font-size: 18px;">
        <a
                routerLink="/"
                routerLinkActive="my-active"
        >
            <mat-icon>house</mat-icon>
            <span>Home</span>
        </a>
    </div>
    <div
            fxFlex
            fxLayout
            fxHide.xs
    >
        <ul
                fxLayout
                fxLayoutGap="10px"
                class="navigation-items">
            <li>
                <p
                        style="cursor: pointer"
                        on-click="myToggleMatSidenav()"
                >
                    {{ myIsMatSidenavOpen ? 'Close' : 'Open' }} Sidenav
                </p>
            </li>
        </ul>
    </div>
    <div
    fxFlex
    fxLayout
    fxLayoutAlign="flex-end"
    fxHide.xs>
        <ul
                fxLayout
                fxLayoutGap="10px"
                class="navigation-items">
            <!-- fxLayoutGap="10px"
            "StaticInjectorError(Platform: core)[DefaultLayoutGapDirective -> StyleUtils]:
    NullInjectorError: No provider for StyleUtils!"
    Oi!
    Wrong (too new) version of Flexy-poo
        "@angular/flex-layout": "^9.0.0-beta.28",
            -->
            <li>
                <a
                        routerLink="/fabricator"
                        routerLinkActive="my-active"
                >Create Addresses</a>
            </li>
            <li>
                <a
                        routerLink="/nytimes"
                        routerLinkActive="my-active"
                >NY Times</a>
            </li>
            <li>
                <mat-slide-toggle
                        on-change="myToggleTheme($event.checked)"
                ></mat-slide-toggle>
            </li>
        </ul>
    </div>
</mat-toolbar>

