.navigation-items {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navigation-items li {
    font-size: 15px;
}

.navigation-items li p {
    font-size: 12px;
}

.my-active {
    color: aqua;
}
