<div [ngClass]="{'containerXred': myDebugTrace}"
        fxLayout="column"
        fxLayoutAlign="start center"
        fxLayoutGap="10px"
     style="width: 100%;"
>

<!-- *************************************


*************************************
*************************************
FlexLayout w Angular Material Design
*************************************
*************************************
In summary (maybe?)
Q. If you want a (single) column, with fixed-width, centered.
A. Weird. You have to nest *THREE* <section>s to achieve it. Very weird.
*************************************
*************************************
*************************************

*************************************
HIGH-LEVEL:
<section> one of three

<section> two of three

<section> three of three

<mat-card>s ...
<mat-card>s ...
*************************************


ONE WAY: (with my function())
*************************************
<section> one of three
- fxLayout="column"
- style="width: 100%;"
- fxLayoutAlign="start stretch" // << optional, as 'twere

<section> two of three
- (no attributes needed)

<section> three of three
- fxLayout="column"
- fxFlex="{{myHardCodedFxFlexWidth}}px"
- fxFlexOffset="{{myOffsetForPseudoCenteringCalculation}}"

<mat-card>s ...
<mat-card>s ...
*************************************

-- OR --

ANOTHER WAY: (no function() needed)
*************************************
<section> one of three
- fxLayout="column"
- style="width: 100%;"
- fxLayoutAlign="start center" // << needed

<section> two of three
- (no attributes needed)

<section> three of three
- fxLayout="column"
- fxFlex="{{myHardCodedFxFlexWidth}}px" // or just "200px" etc.

<mat-card>s ...
<mat-card>s ...
*************************************




     *************************************
-->



    <div [ngClass]="{'containerXblue': myDebugTrace}"
            fxLayout="row"
            fxLayoutGap="30px">
        <!-- class="containerXblue" fxFlex="300px" -->
        <span><img src="../../../assets/aws-api-gateway.png" height="50px"></span>
        <p><i>Postpen</i> - API Gateway to AWS Lambda</p>
<!--        <p>seventy-six trombones led the big parade</p>-->
        <span><img src="../../../assets/AWS_Lambda_logo.svg.png" height="50px"></span>
    </div>

    <section [ngClass]="{'containerXorange': myDebugTrace}"
             fxLayout="column" fxLayoutAlign="start stretch"
             style="width: 100%;"
    >
        <form
                bind-formGroup="myCyuFormGroup"
                on-ngSubmit="mySendIt()">
            <!--
            https://github.com/angular/flex-layout/wiki/Declarative-API-Overview#api-for-any-element
                        fxLayoutAlign="stretch"
            -->

            <!-- O la. Finding. ("Re"-finding, oughta be.)
            1. With just a FormControl (no FormGroup), yes, you gotta BIND- it. Okay.
            2. When the FormControl is IN a FormGroup, no, no BIND- of the Control. Just BIND- the Group. Ok? Ok.

            1. FormControl ALONE (something I do not often/ever do)
                    <input type="text"
                    bind-formControl="myAgeFormControl"> // << Yes
                    <input type="text"
                    bind-formControl="myAgeFormControlName"> // << NO

            2. FormControl IN FORMGROUP
                    <input type="text"
                    bind-formControlName="myAgeFormControlName"> // << NO. No "binding" needed
                    <input type="text"
                    formControlName="myAgeFormControlName"> // << Yes. :)
                    <input type="text"
                    bind-formControl="myAgeFormControl"> // << Hmm. No IDE complaint. But, in FormGroup, no need to bind. Doubtless bad idea to bind. cheers.
            -->

            <section [ngClass]="{'containerX': myDebugTrace}"
                     fxLayout="column"
                     fxLayoutGap="10px"
                     fxFlex="{{myHardCodedFxFlexWidth}}px"
                     fxFlexOffset="{{myOffsetForPseudoCenteringCalculation}}"
                     style="margin-bottom: 60px;"
            >
                <mat-form-field>
                    <mat-label>Age Label</mat-label>
                    <input
                            matInput
                            type="number"
                            formControlName="myAgeFormControlName"
                            [errorStateMatcher]="myOwnThisTimeErrorStateMatcher"
                    >
                    <mat-hint>Age Hint (not zero plz)</mat-hint>
                    <mat-error>Age Error wassup w the zero?</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Height Label</mat-label>
                    <input
                            matInput
                            type="number"
                            formControlName="myHeightFormControlName"
                            [errorStateMatcher]="myOwnThisTimeErrorStateMatcher"
                    >
                    <mat-hint>Height Hint (not zero plz)</mat-hint>
                    <mat-error>Height Error wassup w the zero?</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Income Label</mat-label>
                    <input
                            matInput
                            type="number"
                            formControlName="myIncomeFormControlName"
                            [errorStateMatcher]="myOwnThisTimeErrorStateMatcher"
                    >
                    <mat-hint>Income Hint (not zero plz)</mat-hint>
                    <mat-error>Income Error wassup w the zero?</mat-error>
                </mat-form-field>

                <button
                        class="mat-raised-button"
                        type="submit"
                        bind-disabled="!myCyuFormGroup.valid">
                    Submit Button
                </button>
                <div>
                    <p>What We Have in the Form myCyuFormGroup {{myCyuFormGroup.value | json}}</p>
                </div>
            </section>

        </form>

        </section>


    <section [ngClass]="{'containerXgreen': myDebugTrace}"
             fxLayout="column" fxLayoutAlign="space-between stretch"
             style="width: 100%; height: 600px;"
    > <!-- See Curious Discussion # 2 below re: that 'stretch' -->
<!--        style="width: 100%;"        fxLayout="column"-->

        <section [ngClass]="{'containerXblue': myDebugTrace}">
            <section [ngClass]="{'containerXred': myDebugTrace}"
                     fxLayout="column"

                     fxFlex="{{myHardCodedFxFlexWidth}}px"
                     fxFlexOffset="{{myOffsetForPseudoCenteringCalculation}}"
            >
                <!-- Curious Discussion # 3
                You CAN Use "Hard-Coded" (or Otherwise Simply Asserted)
                Fixed-Width on Your Column, AND Get it Centered,
                WITHOUT Writing a PseudoCenteringCalculation func(),
                AND Without Going Too, Too, Too Mad.

                Q. ?How? You Inquire?
                A. Read on...

                See the above, where, as in Curious Discussion # 2 below,
                we DO employ the "3 nested <section>s" thing.
                In fact, it is only this (wicked belated) discovery of
                that 2nd, in-between nested <section>, that I realize
                I maybe didn't need to write that damned function?
                O well had fun doing so all the same. Learned stuff.

                -->
                <mat-card>
                    <mat-card-header>&lt;section> 1 with Function() Center heyAAA </mat-card-header>
                    <mat-card-content class="wr--mat-card-content">
                        <p>fxLayoutAlign="space-between stretch"
                            style="width: 100%;</p>
                    </mat-card-content>
                </mat-card>
                <mat-card>
                    <mat-card-header>&lt;section> 3 with Function() Center heyBBB </mat-card-header>
                    <mat-card-content class="wr--mat-card-content">
                        <!--
                        Errors parsing template: Unexpected character "EOF" (Do you have an unescaped "{" in your template? Use "{{ '{' }}") to escape it.) ("
                        -->
                        <p>fxFlex="{{ '{' }}{{ '{' }}myHardCodedFxFlexWidth}}px"
                            fxFlexOffset="{{ '{' }}{{ '{' }}myOffsetForPseudoCenteringCalculation}}"</p>
                    </mat-card-content>
                </mat-card>
            </section>
        </section>

            <section class="containerXred">
            <!-- Curious discussion # 1
            How To Get A Fixed Column Width
            And To Get it Centered
            Without Going Mad

            The above <section> (like my use of <form> below) is a CONTAINER
            that is sort of doing NOTHING. MBU.
            But, it MUST be there (?), BELOW the <section> with a WIDTH (100%),
            and ABOVE the <section> that wants to assert a certain
            Column Width (e.g. fxFlex="300px")

            Without it (the "nothing doing" section), your asserted
            fxFlex size (300) is IGNORED and it goes back to 100% width.
            -->
        <section class="containerX"
                fxLayout="column"
                fxFlex="{{myHardCodedFxFlexWidth}}px"
                 fxFlexOffset="{{myOffsetForPseudoCenteringCalculation}}"
        >
            <!-- Curious discussion # 2
            ¿What Happens If You Use the "center center"
            Viz-a-Viz Your (My) PseudoCenteringCalculation func()?

            Q. What happens?
            A. It breaks it.
            That is, the "center center" usage breaks the func() (Boo-hoo.)
            So: Don't use the "center center"!
            (OR, Don't use the func()!) (But it's such a beautiful func() o well.)

            More discussion.
            - We refer to the fxLayoutAlign usage "immediately" above. I mean, the relevant one is the "grandparent" from here. That is the relevant one, it is the one that asserts the width of 100% that matters here.
            - That is to say: we are *not* referring to any usage fxLayoutAlign="center center" used higher up (see root element for example). That one CAN use "center center", without harming or affecting us here below. Okay.
            - This warning applies to not only "center center", but also "start center" "end center" etc.  The point is the *second* entry. The second entry must be left off.
            UPDATE: The second entry, left off, actually defaults to *stretch* - ergo, you can actually USE 'stretch' !  Very nice. (It pretty much re-establishes the 100% notion. cheers.)
               Notes:
               - The first entry is for the main-axis (up-down the column). That entry does not matter, for the point under review here.
               - It is the second entry that matters - the cross-axis (left-right positioning of the content within the column). That is what goofs up / conflicts with our left-right centering function(). Cheers.
            -->



<!--   style="width: 100%; height: 400px;"     fxLayoutAlign="center"        fxLayout="column"-->
        <mat-card>
            <mat-card-header>&lt;section> 1 with Function() Center hey111 </mat-card-header>
            <mat-card-content class="wr--mat-card-content">
                <p>fxLayoutAlign="space-between stretch"
                    style="width: 100%;</p>
            </mat-card-content>
        </mat-card>
            <mat-card>
                <mat-card-header>&lt;section> 3 with Function() Center hey222</mat-card-header>
                <mat-card-content class="wr--mat-card-content">
                    <p>fxFlex="{{ '{' }}{{ '{' }}myHardCodedFxFlexWidth}}px"
                        fxFlexOffset="{{ '{' }}{{ '{' }}myOffsetForPseudoCenteringCalculation}}"</p>
                </mat-card-content>
            </mat-card>
        </section>
            </section>


</section>
    <section class="containerXgreen"
             fxLayout="column" fxLayoutAlign="space-around center"
             style="width: 100%; height: 400px;"
    >
        <section class="containerXblue">
            <section class="containerXred"
                     fxLayout="column"
                     fxLayoutGap="10px"
                     fxFlex="{{myHardCodedFxFlexWidth}}px"
            >
                <mat-card style="background-color: bisque;">
                    <mat-card-header>&lt;section> 1 with LayoutAlign Center hey333 </mat-card-header>
                    <mat-card-content class="wr--mat-card-content">
                        <p>fxLayoutAlign="space-around center"
                            style="width: 100%;</p>
                    </mat-card-content>
                </mat-card>
                <mat-card style="background-color: bisque;">
                    <mat-card-header>&lt;section> 3 with LayoutAlign Center hey444</mat-card-header>
                    <mat-card-content class="wr--mat-card-content">
                        <p>fxFlex="{{ '{' }}{{ '{' }}myHardCodedFxFlexWidth}}px"</p>
                    </mat-card-content>
                </mat-card>
            </section>
        </section>
    </section>
</div>
