<div class="my-rxjs-playground">
<!--`
<div fxLayoutAlign="center"
     fxLayoutGap="100px">
-->
    <!-- (micro)-finding:
    Above FlexLayout biz worked on a <div>
    but not on a <section>
    Read all about it.

    fxLayoutAlign="center"
    fxLayoutAlign="center center"
    -->
        <img src="../../../assets/rxjs-1.svg" alt="RxJS in SVG!" height="80px">
        <p>rxjs-playground works!</p>
        <p>something to show: ||{{ somethingToShow }}||</p>
        <p>somethingBehavior to show: ||{{ somethingBehaviorToShow }}||</p>
</div>
