<mat-sidenav-container>
  <mat-sidenav
          mode="side"
          role="navigation"
          [opened]="myOpenedSidenav"
  > <!-- <></>ODO hard-coded open, for now
  https://material.angular.io/components/sidenav/overview#opening-and-closing-a-sidenav
  -->
    <app-sidenav-list></app-sidenav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="text-align: center">
      <app-header></app-header>
    </div>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>



