/*
Problem!
Can't see what you paste into Excel!

Issue:
The default Material Design, of
light font color on dark background,
yields a "copy'n'paste" text from the browser page,
that when pasted into Excel, goes in (default) as HTML,
bringing with it this light (invisible) font color,
totally UNREADABLE to human eye in Excel.
WTF.

Fix:
Create new style for div that flips it:
- dark font color
- light background.
Yeesh.
 */

.lighten-background {
    background-color: aliceblue;
}

.darken-font {
    color: black;
}

/*
https://css-tricks.com/solved-with-css-colorizing-svg-backgrounds/
Hmm. original SVG here was apparently 0,0,0 black
Need to alter to something else (my arbitrary-ish fill is pink-ish)
Then that wild brightness factor just blazes that pink all the way to white = what I wanted
 */
.lighten-svg {
    fill: rgb(700,100,10);
    filter: brightness(1000%);
}
