
    <section class="containerX"
             style="width: 100%;"

             >
<!--
    style="height: 800px; width: 100%"
-->
        <!--<div style="width: 100%">-->
<!--<section class="containerX"-->
<!--         fxLayout="column"-->
<!--         fxLayoutAlign="end end"-->
<!--         fxLayoutGap="20px"-->
<!--         fxFlex="200px"-->
<!--&gt;-->
    <section class="containerX"

             fxLayout="column"
             fxLayoutAlign="center center"
             fxFlex="{{myHardCodedFxFlexWidth}}px"
             fxFlexOffset="{{myOffsetForPseudoCenteringCalculation}}"
    >
        <!-- fxFlex="300px"
             fxFlexOffset="40%"
        -->
<!--        <section
                class="containerX"
                fxLayout="row"
                fxLayoutAlign="center"
                fxFlex
                fxLayoutGap="20px">-->
        <section class="containerX"
                 fxLayout="column"

                fxFlex="400px">


    <mat-card fxFlex="20%"
            >
        <mat-card-title>Flex-bb Title 01 you know</mat-card-title>
        <mat-card-content class="wr--mat-card-content">
            <p>AA0011 POST FORM About to make you a self with THIS MUCH INCHES (whoa):</p>
        </mat-card-content>
    </mat-card>
    <mat-card
fxFlex="1 1 20%"
    >
        <mat-card-content [ngClass]="{'wr--mat-card-content':true}">AA POST FORM About to make you a self with THIS MUCH INCHES (whoa):
        </mat-card-content>
    </mat-card>
    <mat-card

    >
        <mat-card-content [ngClass]="{'wr--mat-card-content':true}">BB POST FORM About to make you a self with THIS MUCH INCHES (whoa):
        </mat-card-content>
    </mat-card>
</section>
<!--    </section>-->
    </section>
    </section>
